.DS_Store
package-lock.json

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
package-lock.json

# Coverage directory used by tools like istanbul
coverage

# Dependency directories
node_modules
.idea
.nyc_output
.scannerwork
